
{{>header}}

<h3>Send push notification test</h3>

<form action="send" method="post">

    <input name="id" type="hidden" value="{{id}}"/>
    <div class="form-group">
      <label for="tokens">iOS device token (use comma to muliple tokens):</label>
      <input name="tokens" class="form-control" type="text" value="06E6372D47B7D2B6F97AFD32479098C6F4B7FFE27F10C0B144893B1C80F328A3,477DBEAADA46B160CD5C87FFEF0755F14B3E03C3FC4E9698645D74B9B40FC917" />
    </div>
    <div class="form-group">
      <label for="registrationIDs">Android registration ID (use comma to muliple ids):</label>
      <input name="registrationIDs"  class="form-control" type="text" value="dREmoEji87o:APA91bGymtN-aJ6pqwTxRXz7GNDwLRRvuOlNc5-12u9zbhT-r4QB3CY54ourYwJ7AyV2--B9pN0VYiYuiTWZNH57gJkeuwFqqNW8OhY7KiIPblRHszQxQVbFnb-sWRBt9uueEOuyKSAY" />
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input name="title" class="form-control" type="text" value="test"/>
    </div>
    <div class="form-group">
      <label for="text">Text:</label>
      <input name="text" class="form-control" type="text" value="text is here"/>
    </div>

    <p><input type="submit" class="btn btn-primary" value="Send"></p>

</form>

{{>footer}}
