
{{>header}}

<p></p>

<label>Here's your JSON response:</label>

<p>{{response}}</p>

<p></p>

<form action="index" method="get">
  <input type="submit" class="btn btn-primary" value="OK">
</form>

{{>footer}}
